{% extends 'home-base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h1>Home </h1>
            </div>
        </div>
    </div>

{%  endblock %}

