{% extends 'home-base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
   <div class="container">
       <h1>Create new Post</h1>

       <div class="row">
           <div class="col-6 offset-3">
               {{ include('post/_form.html.twig') }}
               <a href="{{ path('posts') }}" class="btn btn-secondary w-100 mt-2">back to list</a>
           </div>
       </div>

   </div>
{% endblock %}
